/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/admin
/storage/*.key
/storage/*.credentials.json
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php
/.rnd
/resources/js/ziggy.generated.js
/resources/js/types/generated.ts
.env.prod.gcp
.env.dev.gcp
/public/mix-manifest.json
/public/build/
.phpstorm.meta.php
*:Zone.Identifier
