includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    # Level 9 is the highest level
    level: 8

    ignoreErrors:
        - '#Parameter \$count of method Illuminate\\Database\\Eloquent\\Builder<AGhorab\\LaravelPromocode\\Models\\Promocode>::orWhereHas\(\) expects int, Illuminate\\Contracts\\Database\\Query\\Expression given#'

#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false