includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
        - '#Parameter \$count of method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>::orWhereHas\(\) expects int, Illuminate\\Contracts\\Database\\Query\\Expression given#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::hasUsage\(\)#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::notBounded\(\)#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false